---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Dashboard from '../../react/components/Dashboard';
const userId = 1;
---
<BaseLayout title="CSUMB SSBU Research Lab" description="CSUMB Research">   
    <div class="container">
      <h1>Dashboard</h1>
      <Dashboard client:load userId={userId} />
    </div>
</BaseLayout>